@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  @apply bg-slate-50 text-slate-900;
}

::selection {
  @apply bg-blue-100 text-blue-900;
}